// Define variables
$hue: 223;
$bg: hsl($hue, 10%, 90%);
$fg: hsl($hue, 10%, 10%);
$transDur: 0.15s;

.notification {
    padding-bottom: 0.75em;
    position: fixed;
    top: 1.5em;
    right: 1.5em;
    width: 18.75em;
    max-width: calc(100% - 3em);
    transition: transform $transDur ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 9999;
    font-size: 16px;

    &__box,
    &__content,
    &__btns {
        display: flex;
    }

    &__box,
    &__content {
        align-items: center;
    }

    &__box {
        animation: flyIn 0.3s ease-out;
        background-color: hsl(0, 0%, 100%);
        border-radius: 0.75em;
        box-shadow: 0 0.5em 1em hsla($hue, 10%, 10%, 0.1);
        height: 4em;
        transition: background-color $transDur, color $transDur;
    }

    &--out &__box {
        animation: flyOut 0.3s ease-out forwards;
    }

    &__content {
        padding: 0.375em 1em;
        width: 100%;
        height: 100%;
    }

    &__icon {
        flex-shrink: 0;
        margin-right: 0.75em;
        width: 2em;
        height: 2em;
    }

    &__icon-svg {
        width: 100%;
        height: auto;
    }

    &__text {
        line-height: 1.333;
    }

    &__text-title {
        font-size: 0.75em;
        font-weight: bold;
    }

    &__text-subtitle {
        font-size: 0.6em;
        opacity: 0.75;
    }

    &__btns:has(*) {
        box-shadow: -1px 0 0 hsla($hue, 10%, 10%, 0.15);
        flex-direction: column;
        flex-shrink: 0;
        min-width: 4em;
        height: 100%;
        transition: box-shadow $transDur;
    }

    &__btn {
        background-color: transparent;
        box-shadow: 0 0 0 hsla($hue, 10%, 10%, 0.5) inset;
        font-size: 0.6em;
        line-height: 1;
        font-weight: 500;
        height: 100%;
        padding: 0 0.5rem;
        transition: background-color $transDur, color $transDur;
        -webkit-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
        border: 0;

        &:first-of-type {
            border-radius: 0 0.75rem 0 0;
        }

        &:last-of-type {
            border-radius: 0 0 0.75rem 0;
        }

        &:only-child {
            border-radius: 0 0.75rem 0.75rem 0;
        }

        & + & {
            box-shadow: 0 -1px 0 hsla($hue, 10%, 10%, 0.15);
            font-weight: 400;
        }

        &:active,
        &:focus {
            background-color: hsl($hue, 10%, 95%);
        }

        &:focus {
            outline: transparent;
        }
    }

    @supports selector(:focus-visible) {
        &__btn:focus {
            background-color: transparent;
        }

        &__btn:focus-visible,
        &__btn:active {
            background-color: hsl($hue, 10%, 95%);
        }
    }
}

/* Dark theme */
[data-bs-theme="dark"] {
    :root {
        --bg: hsl($hue, 10%, 10%);
        --fg: hsl($hue, 10%, 90%);
    }

    .notification {
        &__box {
            background-color: hsl($hue, 10%, 30%);
        }

        &__btns {
            box-shadow: -1px 0 0 hsla($hue, 10%, 90%, 0.15);
        }

        &__btn + &__btn {
            box-shadow: 0 -1px 0 hsla($hue, 10%, 90%, 0.15);
        }

        &__btn:active,
        &__btn:focus {
            background-color: hsl($hue, 10%, 35%);
        }

        @supports selector(:focus-visible) {
            &__btn:focus {
                background-color: transparent;
            }

            &__btn:focus-visible,
            &__btn:active {
                background-color: hsl($hue, 10%, 35%);
            }
        }
    }
}

/* Animations */
@keyframes flyIn {
    from {
        transform: translateX(calc(100% + 1.5em));
    }
    to {
        transform: translateX(0);
    }
}

@keyframes flyOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100% + 1.5em));
    }
}
